h1 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    margin-left: 420px;
    margin-top: 36px;
}

h2 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
}

p, li {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
}

li {
    margin-top: 12px;
}

a {
    text-decoration: none;
    color : #4E80EE;
}

#para_soush1 {
    margin-left: 464px;
}


.li_gras {
    font-weight: bold;
}

.header {
  background-color: #FFF;
}
.body {
    background-color: #F8FAFC;
}
.margin {
    padding: 54px 0px 54px 0px; /* top | right | bottom | left */
    margin-left: 339px;
}

.author-info {
    margin-left: 420px;
}

